
nav{
    display: flex;
        justify-content:space-between;
    align-items: center;

    background-color: blueviolet;
    height: 6rem;


    padding: 0 20px;
}

ul{display: flex;
    list-style: none;
    gap: 30px;


}

p {
    font-family:sans-serif;
    color: red;
    font-size: 15 px;
   }

img {
    width: 140px;

 }

 body {
     background-color: rgb(89, 93, 97);
 }